<h2><%= @question.title %></h2>
<p><strong><%= @question.content %></strong></p>

<% @question.comments.each do |comment| %>
  <%= comment.content %><br>
<% end %>
<%= form_tag(new_question_comment_path(@question), method: "get") do%>
  <%= button_tag('comment on this question') %>
<% end %><br><br><br><br><br><br>


<% @question.answers.each do |answer| %>
  <%= button_to 'v', { controller: :votes, action: :create, form: { up_down: 0, votable_type: 'Answer', votable_id: answer.id } }, { class: "vote-button" } %>
  <span class="score"><%= answer.score %></span>
  <%= button_to '^', { controller: :votes, action: :create, form: { up_down: 1, votable_type: 'Answer', votable_id: answer.id } }, { class: "vote-button" } %>
  <strong><%= answer.content %></strong><br><br>

  <% answer.comments.each do |comment| %>
    <%= comment.content %><br>
  <% end %><br>
  <%= form_tag(new_answer_comment_path(answer), method: "get") do%>
    <%= button_tag('comment on this answer') %>
    <% end %><br><br>
<% end %>