<br>
<%= render partial: "vote_form", locals: { votable: @question, vote_boolean: true, new_vote: @vote, up_down: "upvote" } %>

<div>
  <h2>
    <span class="question_score" ><%= @question.score %></span>
    <%= @question.title %>
  </h2>
</div>

<%= render partial: "vote_form", locals: { votable: @question, vote_boolean: false, new_vote: @vote, up_down: "downvote" } %><br>

<strong><%= @question.content %></strong>

<%= render partial: "add_answer_button", locals: { question: @question } %>

<% @question.comments.each do |comment| %>
  <%= comment.content %><br>
<% end %>

<%= render partial: "comment_button", locals: { commentable: @question } %>

<% @answers.each do |answer| %>
  <%= render partial: "best_answer_button", locals: { question: @question, answer_id: answer.id } %>

  <% if best_answer?(@question, answer.id) %>
    <h4>User Chosen Best Answer!</h4>
  <% end %>
  
  <%= render partial: "vote_form", locals: { votable: answer, vote_boolean: true, new_vote: @vote, up_down: "upvote" } %>
  <div>
    <span class="answer_score" ><%= answer.score %></span>
    <strong><%= answer.content %></strong>
  </div>

  <%= render partial: "vote_form", locals: { votable: answer, vote_boolean: false, new_vote: @vote, up_down: "downvote" } %>

  <% answer.comments.each do |comment| %>
    <%= comment.content %><br>
  <% end %><br>

  <%= render partial: "comment_button", locals: { commentable: answer } %>

<% end %>
