<br>
<h2><%= @question.title %></h2>

<%= render partial: "vote_form", locals: { votable: @question, vote_boolean: true, new_vote: @vote } %>

<span class="question_score" ><%= @question.score %></span>

<%= render partial: "vote_form", locals: { votable: @question, vote_boolean: false, new_vote: @vote } %>

<p><strong><%= @question.content %></strong></p>

<% @question.comments.each do |comment| %>
  <%= comment.content %><br>
<% end %>

<%= render partial: "comment_button", locals: { commentable: @question } %>

<% @question.answers.each do |answer| %>

  <%= render partial: "vote_form", locals: { votable: answer, vote_boolean: true, new_vote: @vote } %>

  <span class="answer_score" ><%= answer.score %></span>

  <%= render partial: "vote_form", locals: { votable: answer, vote_boolean: false, new_vote: @vote } %>

  <strong><%= answer.content %></strong><br><br>

  <% answer.comments.each do |comment| %>
    <%= comment.content %><br>
  <% end %><br>

  <%= render partial: "comment_button", locals: { commentable: answer } %>

<% end %>
