<div class='container'><br><center>

  <div class="panel panel-success"><div class="panel-heading"><h3> my questions </h3></div></div><br>
  <% @user_questions.each_slice(1) do |question_row| %>
  <div class='row'>
    <% question_row.each do |question| %> 
    <div class='col-md-4'>
     <div class="well well-sm">
      <center>
        <h3><%= link_to question.title, question %></h3><br>
        <%= question.content %></center><br><br>
        <% end %>
      </div>
    </div>
    <% end %>
  </div><br><br>

  <div class="panel panel-danger"><div class="panel-heading"><h3> my answers </h3></div></div><br><br>    <div class="user_answers">
  <% @user_answers.each_slice(1) do |answer_row| %>
  <div class='row'>
    <% answer_row.each do |this_answer| %>
    <div class='col-md-4'>
     <div class="well well-sm">

      <strong>Answer:</strong> <%= this_answer.content  %><br>
      <strong>Question:</strong> <%= link_to this_answer.question.title, question_path(this_answer) %><br>
      <% end %>
      <% end %>
    </div></div></div>

    <div class="panel panel-warning"><div class="panel-heading"><h3> my comments </h3></div></div><br><br>    <div class="user_answers">
    <div class ="user_comments">
      <% @user_comments.each_slice(1) do |comment_row| %>
      <% comment_row.each do |this_comment| %>
      <div class='col-md-4'>
        <div class="well well-sm">
          <strong>Comment:</strong> <%= this_comment.content %><br>
          <% if this_comment.commentable_type == "Answer" %>
          <%= link_to this_comment.commentable.question.title, question_path(this_comment.commentable.question) %>
          <% else %>
          <%= link_to this_comment.commentable.title, question_path(this_comment.commentable) %>
          <%end%>
          <%end%>
        </div>
        <% end %>
    </div>

</div>
