<div class="navbar">
<% if flash[:notices] %>
    <%= flash[:notices] %>
<% end %>
<ul>
<% if current_user %>
    
    <li><%= image_tag Gravatar.new(current_user.email).image_url %></li>
    <li>Hi <%= current_user.username %></li>

    <%= link_to 'Logout', signout_path, method: 'delete', class: 'btn btn-info' %>
    <%= link_to 'Create Question', new_question_path, class: 'btn btn-info' %>
    <%= link_to 'My Profile Page', user_path(current_user), class: 'btn btn-info' %>

    <% unless index_page? %>
      <%= link_to "Home", root_path, class: 'btn btn-info' %>
    <% end %>

<% else %>

  <%= form_tag ("/signin")  do %>
    <%=  label_tag("username") %>
    <%=  text_field_tag("username") %>
    <%=  label_tag("password") %>
    <%=  password_field_tag("password") %>
    <%= submit_tag("signin") %>
  <% end %>

  <%= link_to "Sign up", new_user_path %>

<% end %>

</ul>
</div>

<br><br><br>

<br>

